<div style="flex-direction: row; display: flex;">
  <h4 style="font-weight: 800; padding-right: 20px;"> Pubnet</h4> 
  <div class="input-group rounded" style="width: 70%">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 20; margin-top: 5" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg>
</div>