<!-- Modal -->
<div class="modal fade" id="edit-confirm-modal" tabindex="-1" aria-labelledby="title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #F6AE20;">
				<h5 class="modal-title" id="title">　ロール編集の確認</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
                <%= user.name %> のロール編集しますか
            </div>
			<div class="modal-footer">
                <%= link_to "yes", edit_user_path(id: user.id) %> 
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> no </button>    
            </div>
			</div>
		</div>
	</div>
</div>